NEXT_PUBLIC_SUPABASE_URL=https://lbykmwzqcbmferjwflno.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxieWttd3pxY2JtZmVyandmbG5vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1OTE3MjYsImV4cCI6MjA5MzE2NzcyNn0.CRmMTAf97fhW09S_WSgfX1LSzRSxpktkoTwnjOBLZOw
GROQ_API_KEY=your_groq_api_key_here